<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Semicolon-separated list of Mono runtime path prefixes. -->
		<add key="runtimePathPrefixes" value="" />
		<!-- Semicolon-separated list of fully-qualified paths to addin assemblies. -->
		<add key="addinAssemblyPaths" value="" />
	</appSettings>
</configuration>
